@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

:root {
  --dark-purple: #4c3eb9ff;
  --purple: #6a5ae0;
  --hover-purple: #998fe7ff;
  --light-purple: #dedafc;
  --dark-pink: #ff8fa2;
  --pink: #ffb3c0;
  --light-pink: #ffd4dc;
}

html {
  font-size: 16px;
  min-height: 100vh;
  background-color: var(--purple);
  max-width: 800px;
  margin: 0 auto;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.back {
  padding: 1rem;
  position: absolute;
  color: white;
}

.btn {
  border: none;
  background-color: var(--purple);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: var(--hover-purple);
}

.input {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid var(--dark-purple);
  border-radius: 0.5rem;
}

.link {
  text-decoration: underline;
}

.block {
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem 1rem 1.5rem 1rem;
  width: 90%;
}

.msg {
  text-align: center;
  padding-top: 1rem;
}

.msg:empty {
  display: none;
}

.heading-text {
  font-size: 1.5rem;
  font-weight: 450;
}

.text-bold {
  font-weight: 500;
}

.text-small {
  font-size: 0.75rem;
}

.text-medium {
  font-size: 0.9rem;
}

.text-medium-2 {
  font-size: 1.1rem;
}

@media (max-width: 613px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 614px) {
  .hide-on-desktop {
    display: none;
  }
  .back {
    color: var(--purple);
  }
}
