.avatar {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: #ffffffb6;
}

.login-btn {
  background-color: white;
  padding: 0.2rem 1rem 0.3rem 1rem;
  border-radius: 0.5rem;
  color: var(--dark-purple);
}

.login-btn:hover {
  background-color: var(--purple);
  color: white;
  outline: 3px solid white;
}

@media (min-width: 614px) {
  .avatar {
    height: 2.5rem;
    width: 2.5rem;
  }
  .login-btn {
    background-color: var(--purple);
    color: white;
  }
  .login-btn:hover {
    background-color: var(--hover-purple);
  }
}
