.icons-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  background-color: white;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 -6px 20px #d0caf9;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  z-index: 10;
}
