.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}

.title {
  text-align: center;
  color: white;
  padding: 1rem;
}

.category-cards-container {
  min-height: calc(100vh - 120px);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  align-content: start;
  margin: 0.5rem;
  background-color: white;
  border-radius: 2rem 2rem 1rem 1rem;
  padding: 1rem;
}

.category-card {
  min-height: 150px;
  background-color: var(--light-purple);
  color: var(--dark-purple);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-card:hover {
  color: white;
  background-color: var(--dark-pink);
}

.icons {
  font-size: 3rem;
  background-color: white;
  color: var(--dark-purple);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 1rem;
}

.category-card:hover .icons {
  background-color: var(--pink);
  color: white;
}

@media (min-width: 614px) {
  .category-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .title {
    color: var(--purple);
  }
}

@media (min-width: 800px) {
  .category-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
