.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0 1rem;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh + 60px);
  border-radius: 2rem 2rem 0 0;
  overflow-y: visible;
  background-color: white;
  margin: 4rem 0.5rem 0.5rem 0.5rem;
  padding: 1rem;
  position: relative;
}

.avatar-wrapper {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #9e9e9ec6;
}

.points-card {
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
  align-items: center;
  border: 1px solid var(--purple);
  background-color: var(--purple);
  width: 100%;
  max-width: 600px;
  min-height: 80px;
  padding: 0.5rem;
}

.points-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  flex: 1;
}

.tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 0;
}

.tabs button {
  flex: 1;
  padding: 0.8rem 0;
}

.selected-tab {
  position: relative;
  padding-bottom: 12px;
  color: var(--purple);
}

.selected-tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 6px;
  width: 6px;
  background-color: var(--purple);
  border-radius: 50%;
}

.select {
  align-self: flex-end;
  padding: 0.2rem 0.2rem 0.3rem 0.2rem;
  border: 1px solid var(--dark-purple);
  border-radius: 1rem;
}

.select option {
  border-radius: 0.5rem;
}

.chart-wrapper {
  background-color: var(--purple);
  width: 100%;
  max-width: calc(100%-1rem);
  padding: 1rem 0.5rem 0 0.5rem;
  border-radius: 1rem;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image-wrapper {
  width: 300px;
}

.image-wrapper img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.badge-title {
  grid-column: 1/-1;
}

.badge-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
}

.badge-text {
  font-size: 0.7rem;
  text-align: center;
}

.lock-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 5rem;
  width: 5rem;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000080;
}

.lock {
  color: white;
  font-size: 2rem;
}

.badge-buttons {
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.icon-wrapper {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 2rem;
  color: white;
}

.badge-dialog {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
}
