.select-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 2rem 2rem;
  min-height: calc(100vh - 60px);
  max-width: 450px;
  width: 100%;
}

.avatar-wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-height: 80vh;
  overflow-y: auto;
  margin-bottom: 1rem;
  padding: 1rem 0;
  background-color: white;
  border-radius: 1rem;
}

.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.select-avatar-btn {
  background-color: white;
  color: var(--dark-purple);
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}

.select-avatar-btn:hover {
  background-color: var(--purple);
  outline: 3px solid white;
  color: white;
}

.credit {
  color: white;
}

.credit:hover {
  color: var(--light-purple);
}

.username-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.3rem 0 1.5rem 0;
}

.adj {
  border: 1px solid var(--dark-purple);
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.2rem 3rem;
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 2rem;
}

@media (min-width: 614px) {
  .select-wrapper {
    margin: 0 auto;
  }
}
