.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.title {
  text-align: center;
  display: inline;
  color: white;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 1rem;
}

.btn-flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  border: none;
}

.btn-flex:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
  width: 70%;
  height: 1px;
  background-color: #dedafc;
}
